@model IEnumerable<AstroFrameWeb.Data.Models.Galaxy>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GalaxyType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfStars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceFromEarth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscoveredOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GalaxyType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfStars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceFromEarth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscoveredOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
